.mrp-cards {
    display: grid;
    row-gap: 2rem;
    margin: 1rem 0;

    &__empty {
        text-align: center;
    }
}

.sort-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 10px;
    margin: 10px 0;

    &__top {
        display: flex;
        column-gap: 1rem;
    }

    &__bottom {
        display: flex;
        column-gap: 1rem;

        div {
            width: 150px;
        }
    }
}
